{% extends 'base.html' %}

{% block content %}
<div class="column is-8">

    <div class ="block">
        <figure class="image is-96x96">
            <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/96x96.png"
                 alt="Placeholder image">
          </figure>
        <h1 class="is-size-1">{{ profile.user.username|upper }} 's POSTS </h1>
        <form method="post">

        {% csrf_token %}
            <div class="buttons has-addons">

                {% if profile in user.profile.follows.all %}
            
                    <button class="button is-success is-static">Follow</button>
            
                    <button class="button is-danger" name="follow" value="unfollow">Unfollow</button>
            
                {% else %}
            
                    <button class="button is-success" name="follow" value="follow">Follow</button>
            
                    <button class="button is-danger is-static">Unfollow</button>
            
                {% endif %}
            
            </div>
        </form>
    </div>
    <div class="content">
        {% for post in profile.user.posts.all %}
            <div class="box">
                {{ post.body }}
                <span class="is-small has-text-grey-light">
                    ({{ post.created_at }})
                </span>
            </div>
        {% endfor %}
    </div>
</div>

<div class="column is-4">
    <div class="block">
        <a href="{% url 'socialsite:profile_list' %}">
            <button class="button is-dark is-outlined is-halfwidth">
                All Profiles
            </button>
        </a>
    </div>

    <div class ="block">
        <h1 class="is-size-3 is-underlined">{{ profile.user.username|upper }} follows: </h1>
    <ul>
    {% for following in profile.follows.all %}
        <li>
            <a href="{% url 'socialsite:profile' following.id %}">
                {{ following }}
            </a>
        </li>
    {% endfor %}
    </ul>
    </div>

    <!-- ... -->
    
    <div class = "block">
    <h1 class="is-size-3 is-underlined">{{ profile.user.username|upper }} is followed by: </h1>
    <ul>
    {% for follower in profile.followed_by.all %}
        <li>
            <a href="{% url 'socialsite:profile' follower.id %}">
                {{ follower }}
            </a>
        </li>
    {% endfor %}
    </ul>
    </div>
</div>

{% endblock content %}